<style>
body { 
    display: block;
    margin: 10px;
}

p {
padding-bottom: 15px;
}

.mymofucka{
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
</style>

<h1><%= @review.title %></h1>

<body>
	<%= simple_format(@review.body, class:"mymofucka")%>
</body>


<div class="page-header"><h1>Movie Poster</h1></div>

    <div class="media-left">
      <!-- Renders image -->
      <%= link_to image_tag(@review.image.url, class: 'media-object'), @review.image.url, target: '_blank' %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= @review.title %></h4>
    </div>


<%= link_to 'Edit', edit_review_path(@review) %> | 
<%= link_to 'Back', reviews_path %>
