<style>
body { 
    display: block;
    margin: 10px;
}

p {
padding-bottom: 15px;
}

.mymofucka{
  font-family: 'Raleway', sans-serif;
  line-height: 1.5;
}
</style>

<h1><%= @review.title %></h1>
<text style="font-family: 'Raleway', sans-serif; font-size:22px">release date: <%= @review.release %>
</text><br><br>

<div>
<text style="font-family: 'Raleway', sans-serif; font-size:22px">
  Our score/RT score: <%= @review.score %>/<%= @review.scoreRT %>
</text>
</div>

<div>
<text style="font-family: 'Raleway', sans-serif; font-size:30px">The Quick and Dirty</text><br>
<%= simple_format(@review.quickdirt, class:"mymofucka")%>
</div>

<div>
<text style="font-family: 'Raleway', sans-serif; font-size:30px">Review Body:</text><br>
	<%= simple_format(@review.body, class:"mymofucka")%>
</div>

<h1 font-family: 'Pangolin', cursive;">Prescriptions</h1>
<body>
  <%= simple_format(@review.prescription, class:"mymofucka")%>
</body>


<div class="page-header"><h1>Movie Poster</h1></div>

    <div class="media-left">
      <!-- Renders image -->
      <img src=<%= @review.image.url %> alt=<%= @review.title %> height="300px" class="image">
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= @review.title %></h4>
    </div>


<%= link_to 'Edit', edit_review_path(@review) %> | 
<%= link_to 'Back', reviews_path %>
